name: Package scripts
on:
  push:
    tags: 
       - "v*"
concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: write
jobs:
  pyinstaller-build:
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
          os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.13'
          spec: 'App/build.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: Pager-software${{ matrix.os }}
  
          
