name: Package scripts
on: [push]
jobs:
  pyinstaller-build:
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
          os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.13'
          spec: 'App/build.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: Pager-software-${{ matrix.os }}
          options: --onefile --name "Pager software" --windowed
